USE [master]
GO
/****** Object:  Database [DBHomework8]    Script Date: 11/29/2020 9:23:02 PM ******/
CREATE DATABASE [DBHomework8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHomework8', FILENAME = N'E:\SSMS\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBHomework8.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBHomework8_log', FILENAME = N'E:\SSMS\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBHomework8_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHomework8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHomework8]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 11/29/2020 9:23:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[Course] [int] NULL,
	[AssignmentPriority] [int] NULL,
	[AssignmentTitle] [varchar](100) NULL,
	[AssignmentNotes] [varchar](200) NULL,
	[AssignmentTags] [varchar](200) NULL,
	[IsCompleted] [int] NULL,
	[DueDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 11/29/2020 9:23:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
